
  textarea, textarea:focus
  {
      font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif; /* make your choice */
      font-size: 11px;                                                   /* make your choice */ 
      border: none;
      background: transparent;
      -webkit-appearance: none;
      -moz-apperarance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      outline: none;
      padding: 0px;
      resize: none;
      width: 100%;
      overflow: hidden;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
  }