<div class="container">
    <mat-sidenav-container class="sidenav-container" >
      <mat-sidenav #snav [opened]="toggleSidebar$ |async" [mode]="'side'"
        fixedTopGap="56">
        <mat-nav-list>
          <app-sidebar-content
           (addNewFolder)="addFolder({name:'New folder'})" 
           (addNewFile)="addFile({name:'New File'})">
             <app-file-manager 
               (removeFile)="removeFile($event)"
               (moveFile)="moveElement($event)"
               [folders]="filesElements$ | async" *ngFor="let item of filesElements$ | async" 
               [fileElement]="item"
               ></app-file-manager>
          </app-sidebar-content>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-markdown></app-markdown>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
