
.theme-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .toolbar {
        min-height: 4rem;
        position: relative;
        z-index: 2;
        .autoNight-form-field{
            margin: 0 auto;
        }
        .config {
            margin: 0 0 0 auto;
        }
    }
}

.setting-header {
    margin: .5rem 0;
    text-align: center;

}

.mat-radio-group {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    width: 10rem;

    .mat-radio-button {
        margin: .1rem;
    }
}