@use '../../../styles-variables.scss' as variables;
@use '@angular/material' as mat;
@mixin app-file-manager($theme) {
    $color:map-get($theme, color );
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($color, background);
  
    app-file-manager {
      display: flex;
      flex-direction: column;
      outline: none;
      width: 95%; 
    }
    
    .mat-list-item {
      padding: 8px 0;
      display: flex;
      width: auto;
      border-radius: 5px;
      color: mat.get-color-from-palette($foreground, secondary-text) !important;
  
      &.active {
        background-color:rgba(map-get(variables.$grey-colors,700), .3)  !important;
        color: mat.get-color-from-palette($foreground, text) !important;
      }
  
      .icon {
        font-size: 24px;  
        margin-right: 18px;
        font-weight: 500;
        color: mat.get-color-from-palette($accent) ;
  
      }
      .displayName{
          font-size: 13px;
          font-weight: 500;
      }
      .expand{
          font-size: 20px;
          font-weight: 500;
      }
    }
   
  
  }